<div class="container">
  <table>
    <thead>
      <tr>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <% if current_user.supervisor? %>
          <th><%= t ".action" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
    <%= paginate @users, theme: "twitter-bootstrap-4" %>
  </table>
</div>
