<%= link_to t("english"), locale:"en" %>
<%= link_to t("vietnamese"), locale:"vi" %>
<header class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" id="logo" href="#"><b><%= t "sun*" %></b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="collapsibleNavbar" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= t ".home" %></a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? && current_user.supervisor? %>
          <%= link_to t(".user"), admin_users_path, class: "nav-link" %>
        <% else %>
          <%= link_to t(".user"), users_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to t(".course"), admin_courses_path, class: "nav-link" %>
      </li>
    </ul>

    <form class="form-inline">
      <% if user_signed_in? %>
        <%= link_to t(".logout"), destroy_user_session_path, method: :delete,
          class: "btn btn-outline-primary" %>
      <% else %>
        <%= link_to t(".login"), new_user_session_path, class: "btn btn-outline-primary" %>
        <div style="padding-left: 10px;">
          <%= link_to t(".signup"), new_user_registration_path, class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </form>
  </div>
</header>
